<div data-bind="markings.length"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Post ID</th>
                    <th>Post Score</th>
                    <th>Annotation</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: markings">
                <tr>
                    <td data-bind="text: post.id"></td>
                    <td data-bind="text: post.score"></td>
                    <td data-bind="text: annotation"></td>
                    <td class="text-center">
                        <button class="btn btn-warning mr-2">Remove Marking</button>
                        <button class="btn btn-primary">Go to post</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
