<div>
    <div>
        Post ID: <input data-bind="value: inputid"/>
    </div>
    <div>
        <button data-bind="click: detailPost">Find</button>
    </div>
</div>
<div>
        <div>Title: <span data-bind="text: test().a"></span></div>
    <!--    <div>Id: <span data-bind="text: test.c"></span></div>
        <div>Body: <span data-bind="html: body"></span></div>
        <div>Creation date: <span data-bind="text: creationDate"></span></div>
        <div>Score: <span data-bind="text: score"></span></div>
        <div>Closed date: <span data-bind="text: closedDate"></span></div>
        <div>Accepted answer: <span data-bind="text: acceptAnswer"></span></div> -->
</div>
