<div>
    <div>
        Post ID: <input data-bind="value: inputid"/>
    </div>
    <div>
        <button data-bind="click: getPost">Find</button>
    </div>
</div>
<div data-bind="with: question()">
    <div data-bind="text: title"></div>
    <div data-bind="with: post">
        <div data-bind="html: body"></div>
        <div data-bind="foreach: comments">
            <div>Comment</div>
            <div data-bind="text: textContain"></div>
        </div>
    </div>
    <div data-bind="foreach: answers">
        score: <div data-bind="text: score"></div>
        <div data-bind="html: body"></div>
    </div>
</div>
<!--<div data-bind="foreach: answers">
    <div>Answer</div>
    <div data-bind="text: score"></div>

</div> -->