
<div>
    <ul class="label" data-bind="foreach: paginated">
        <li>
            <input type="text" data-bind="value: title"/>
            <input type="html" data-bind="value: body"/>
            <input type="text" data-bind="value: score"/>
        </li>
    </ul>
    <div class="pager">
        <a href="#" class="previous" data-bind="click: previous, visible: hasPrevious">&lt;</a>
        <span class="current" data-bind="text: pageNumber"></span>
        <a href="#" class="next" data-bind="click: next, visible: hasNext">&gt;</a>
    </div>
</div>
<div>
    <div>
        Searchtext: <input data-bind="value: inputsearch"/>
    </div>
    <div>
        <button data-bind="click: searchPost">Search</button>
    </div>
</div>

<ul data-bind="foreach: searchedPosts">
    <li>
        <div>Title: <span data-bind="text: title"></span></div>
        <div>Body: <span data-bind="html: body"></span></div>
        <div>Score: <span data-bind="text: score"></span></div>
    </li>
</ul>

